p,
span,
button,
hgroup {
  
  font-family: GilroyLight;
}

.socials_wrap {
  width: max-content;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 999;
}

.show_icon {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.hide_icon {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.move_up_animation {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.share_icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  background-color: #d700009e;
  cursor: pointer;
  user-select: none;
  transition: 0.6s;
}

.share_icon img {
  object-fit: contain;
}

.si {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  position: absolute;
  transition: 0.6s ease;
}

.si i {
  font-size: 22px;
}

.si_1 {
  top: -55px;
  color: #00acee;
}

.si_2 {
  top: -28px;
  left: -50px;
  color: #4267b2;
}

.si_3 {
  bottom: -6px;
  left: -60px;
  color: #0000cd;
}

.si_4 {
  bottom: -50px;
  left: -16px;
  color: #5865f2;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/bg.png");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grass_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 99;
}

.shadow_img {
  position: absolute;
  width: 470px;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.h_art {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 55px;
  left: 230px;
}

.art_img1 {
  width: 246px;
  min-width: 246px;
  max-width: 246px;
  margin-left: -121px !important;
  z-index: 80;
  margin-bottom: -79px;
  transition: all 0.3s ease;
}

.ethereum_img {
  width: 120px;
  z-index: 70;
}

@font-face {
  font-family: GilroyBold;
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: GilroyLight;
  src: url("../../assets/fonts/Gilroy-Light.otf");
}

.blue-gradient {
  font-family: GilroyBold;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.blue-gradient p {
  font-family: GilroyBold;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.blue-gradient li {
  font-family: GilroyBold;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
p span {
  font-family: GilroyBold;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; 
}
.white-gradient {
  /* font-family: GilroyBold; */
  background: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.white-gradient-title {
  font-family: GilroyBold;
  background: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-decoration: underline #ffffff;
}

.yellow_text {
  font-family: GilroyBold;
  background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.yellow_text_1 {
  font-family: GilroyBold;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.green_text {
  font-family: GilroyLight;
  background: linear-gradient(#d4ffb2 0%, #62de00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero h2 {
  font-size: 4.5rem;
}

.h_content {
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 200px;
}

/* main_content */

.main_content {
  width: 100%;
  min-height: 100vh;
}

.main_shadow {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/main_shadow.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc_content {
  width: 90%;
  max-width: 1160px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mc_2 {
  margin-top: 120px;
}

.mc_l {
  width: 50%;
  display: flex;
  flex-direction: column;
  top: 107px;
  position: static;
}
.mc_lcs {
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 107px;
  position: static;
}
.mc_lcs p {
  color: #e5e7eb;
  margin-left: 30px;
  margin-top: 15px;
}
.mc_lcs pre {
  color: #e5e7eb;
  margin-left: 30px;
  margin-top: 15px;
}
.mc_l h2 {
  font-size: 3.2rem;
}

.mc_l p {
  color: #e5e7eb;
  margin-left: 30px;
  margin-top: 15px;
}

.mc_l span {
  margin-left: 30px;
  margin-top: 10px;
}

.mc_r {
  width: 50%;
  display: flex;
  align-items: center;
}
.mcr_1 {
  justify-content: flex-end;
  margin-top: -140px;
}

.mcr_2 {
  justify-content: center;
}

.op_0 {
  opacity: 0;
}

.mcr_img1 {
  transition: all 0.3s ease;
  opacity: 0;
}
.mcr_img2 {
  transition: all 0.3s ease;
}

/* Roadmap */

.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: auto;
  min-height: 70vh;
  width: 100%;
  flex-direction: column;
  padding: 5rem 0rem;
  position: relative;
}

.rimg {
  width: 180px;
  position: absolute;
  animation: mover 1s infinite alternate;
}

.r_img1 {
  top: -30px;
  left: 100px;
  border-radius: 20px;
}

.r_img2 {
  bottom: -150px;
  right: 100px;
  border-radius: 20px;
}

.roadmap h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  overflow: visible;
  margin-bottom: 30px;
}

.roadmap-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  overflow: visible;
}
.roadmap-bg {
  border-radius: 65px;
  width: 1250px;
  object-fit: contain;
}
.pointer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  position: absolute;
}
.left-pointer {
  width: max-content;
  margin-right: 19px;
}
.left-pointer h2 {
  color: #ffffff;
  margin-bottom: 14px;
}
.pointer-img {
  width: 80px;
  object-fit: contain;
}
.right-pointer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.right-pointer h4 {
  font-size: 1.3rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  font-family: GilroyBold;
  background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-pointer h6 {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  font-family: GilroyBold;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left-pointer p {
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  font-family: GilroyBold;
  background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left-pointer h1 {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  font-family: GilroyBold;
  background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*//linear-gradient(#d4ffb2 0%, #62de00 100%);
background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
*/
.right-pointer p {
  font-size: 0.9rem;
  padding: 0px;
  margin: 10px 0;
  overflow: visible;
  font-family: "GilroyBold";
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pointer-div1 {
  top: 3.5%;
  left: 57%;
}
.pointer-div2 {
  top: 22%;
  left: 22%;
}
.pointer-div2 .left-pointer {
  order: 2;
}
.pointer-div3 {
  left: 58%;
  top: 41%;
}
.pointer-div4 {
  top: 62%;
  left: 23%;
}
.pointer-div4 .left-pointer {
  order: 2;
}
.pointer-div5 {
  top: 70%;
  left: 58%;
}
/* @media screen and (max-width: 812px) {
  .pointer-div {
    width: 43% !important;
  }
  .right-pointer h4 {
    font-size: 1.2rem;
  }
  .right-pointer p {
    font-size: 0.9rem;
  }
  .pointer-div1 {
    top: 2.5%;
  }
  .pointer-div5 {
    top: 79%;
  } */
/* } */
/* @media screen and (max-width: 804px) {
  .pointer-div2 {
    left: 8%;
  }
  .pointer-div4 {
    left: 8%;
  }
} */
@media screen and (max-width: 2220px) {
  .roadmap-bg {
    display: none;
  }
  .roadmap-image {
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    padding: 0rem 1rem;
    width: 100%;
    position: relative;
    gap: 2rem;
  }
  .roadmap-image:after {
    content: "";
    position: absolute;
    height: 105%;
    width: 2px;
    background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
    left: 28%;
    top: 0;
    z-index: 0;
  }
  .pointer-div {
    position: relative;
    z-index: 1;
    position: static;
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
  }
  .left-pointer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.4;
    height: max-content;
  }
  .right-pointer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0.6;
    height: max-content;
  }
  .pointer-div .right-pointer {
    order: 2 !important;
  }
  .pointer-div .left-pointer {
    order: 1 !important;
  }
}
@media screen and (max-width: 1258px) {
  .roadmap-bg {
    display: none;
  }
  .roadmap-image {
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    padding: 0rem 1rem;
    width: 100%;
    position: relative;
    gap: 2rem;
  }
  .roadmap-image:after {
    content: "";
    position: absolute;
    height: 105%;
    width: 2px;
    background: linear-gradient(#ffe03a 0%, #f1a30f 100%);
    left: 28%;
    top: 0;
    z-index: 0;
  }
  .pointer-div {
    position: relative;
    z-index: 1;
    position: static;
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
  }
  .left-pointer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.4;
  }
  .right-pointer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0.6;
  }
  .pointer-div .right-pointer {
    order: 2 !important;
  }
  .pointer-div .left-pointer {
    order: 1 !important;
  }
}
/* Goals section */

.goal_section {
  min-height: 150vh;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: #000000;
}
/* Team section */
.goal_container {
  min-height: 700vh;
  width: 80%;
  max-width: 1200px;
  position: relative;
  margin: 100px auto;
}
.goal_section h1 {
  text-align: center;
  font-size: 4rem;
  position: relative;
}

.team_section {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: #000000;
}

.team_section h1 {
  text-align: center;
  font-size: 4rem;
  position: relative;
}

.team_container {
  width: 80%;
  max-width: 1200px;
  position: relative;
  margin: 100px auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 75%;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}

.prev-btn {
  left: -20px;
}

.next-btn {
  right: -20px;
}

.team_card {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.team_content {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  margin-top: 50px;
  min-height: 215px;
  padding: 70px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.6s;
}

.team_content img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 4px;
  top: -50px;
  background-color: #b8c6db;
  background: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);


  left: 50%;
  transform: translateX(-50%);
}

.team_content h2 {
  color: #ffffff;
}

.team_content h5 {
  color: #0897dee3;
  margin: 20px 0;
  font-weight: 800;
}

.team_content p {
  color: #ffffff;
  font-size: 0.9rem;
}
h2.b {
  background: url("../../assets/Vector.png") no-repeat left top;
  height: 64px;
  padding-left: 60px;
  padding-top: 10px;
  margin: 5px;
}

/* faq */
ul.a {
  list-style-type: square;
  color: whitesmoke;
  /* background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%); */
}
/* li.a {
  list-style-type: square;
  color: white;
  color: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);

} */
/* Faq Section */

.faq_section {
  width: 100%;
  min-height: 77vh;
  padding-bottom: 30px;
  background-image: url("../../assets/faq_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.faq_container {
  width: 80%;
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
}

.f_right {
  width: 100%;
  text-align: center;
  width: 100%;
  text-align: center;
  margin-top: -140px;
  margin-bottom: 50px;
}

.f_right h2 {
  color: #ffffff;
  font-size: 4rem;
}

.f_left {
  width: 100%;
}

.faq_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.faq-wrapper {
  margin: 22px auto;
  border-radius: 22px;
  transition: 0.3s linear;
  border: 2px solid #ffe03a;
}

.faq-qs {
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
  cursor: pointer;
  border-radius: 0px;
}

.faq-qs h6 {
  font-weight: 700;
  font-size: 16px;
  width: 98%;
  padding-right: 8px;
  pointer-events: none;
}

.faqs-answer {
  transition: 0.3s linear;
  height: 0;
  overflow: hidden;
  padding: 0 15px;
}

.active-faq .faqs-answer {
  padding: 15px;
  height: auto;
}

.faq-arrow {
  transition: all 0.5s linear;
  margin-left: auto;
  display: block;
}

.faq-arrow * {
  color: #fff;
  font-size: 15px !important;
}

.faq-arrow {
  background: #000202;
  border-radius: 20px;
  width: 54px;
  height: 54px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5px;
}

.active-faq .faq-arrow {
  transform-origin: center;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
  transition: all 0.3s linear;
}

/* Media Queries */

@media screen and (min-width: 1700px) {
  .hero h2 {
    font-size: 5.1rem;
  }
  .h_content {
    right: 330px;
  }
  .mc_l h2 {
    font-size: 4.5rem;
  }
  .mc_l p,
  .mc_l span {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1800px) {
  .shadow_img {
    width: 584px;
  }
  .h_art {
    left: 323px;
  }
  .h_content {
    right: 385px;
  }
  .hero h2 {
    font-size: 5.5rem;
  }
  .art_img1 {
    width: 327px;
  }
  .ethereum_img {
    width: 134px;
  }
}

@media screen and (max-width: 1300px) {
  .roadmap-bg {
    width: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  .art_img1 {
    width: 60%;
    min-width: 243px;
  }
}

@media (max-width: 1130px) {
  .hero h2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 1064px) {
  .roadmap-bg {
    width: 900px;
  }
}

@media (max-width: 1080px) {
  .mcr_img1 {
    opacity: 1;
  }
  .mcr_img2 {
    opacity: 1;
  }
  .art_img1 {
    opacity: 1;
  }
  .last-img {
    display: block;
  }
}

@media screen and (max-width: 1058px) {
  .mcr_img2 {
    opacity: 1 !important;
  }
  .mcr_1 {
    margin-top: unset;
  }
  .mcr_1,
  .mcr_2 {
    justify-content: center;
  }
}

@media screen and (max-width: 1040px) {
  .hero h2 {
    font-size: 3.2rem;
  }
  .art_img1 {
    margin-bottom: -80px;
    min-width: 200px;
    margin-left: -105px !important;
  }
}

@media screen and (max-width: 906px) {
  .hero h2 {
    font-size: 3.2rem;
  }
  .h_art {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 26px;
    left: 167px;
  }
  .h_content {
    right: 90px;
  }

  .roadmap-bg {
    width: 870px;
  }
}

@media screen and (max-width: 870px) {
  .roadmap-bg {
    width: 770px;
  }
}

@media screen and (max-width: 784px) {
  .roadmap-bg {
    width: 650px;
  }
}

@media screen and (max-width: 753px) {
  .mc_2 {
    margin: 30px auto;
  }
  .team_section {
    padding: 3rem 0 0 0;
  }
  .team_container {
    margin: 60px auto;
  }
  .faq_section {
    background: unset;
    margin-top: -60px;
  }
  .f_right {
    margin: 0;
  }
  .f_left {
    margin-top: 5rem;
  }
  .mc_content {
    flex-direction: column;
    justify-content: center;
  }
  .mc_l {
    width: 90%;
  }
  .mc_l p {
    margin-left: 0;
  }
  .mc_content:nth-child(2) .mc_r {
    order: 2;
  }
  .main_shadow {
    gap: 50px;
  }
}

@media screen and (max-width: 720px) {
  .shadow_img {
    width: 280px;
  }
  .hero h2 {
    font-size: 2.8rem;
  }
  .h_content {
    right: 40px;
  }
}

@media screen and (max-width: 660px) {
  .roadmap-bg {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .h_art {
    bottom: 5%;
  }
}

@media screen and (max-width: 610px) {
  .hero {
    flex-direction: column;
  }
  .h_art {
    bottom: unset;
    left: 50%;
    transform: translateX(-70%);
    align-items: center;
    bottom: 20px;
  }
  .art_img1 {
    min-width: unset;
    max-width: unset;
    width: 140px;
    margin-left: 82px;
    margin-bottom: -44px;
  }
  .h_content {
    left: 50%;
    top: 120px;
    transform: translateX(-50%) !important;
    right: unset;
  }
}

@media screen and (max-width: 500px) {
  h2,
  h1 {
    font-size: 2.5rem !important;
  }
  .roadmap h2 {
    font-size: 25px !important;
  }
  .roadmap ul {
    padding-left: 0;
  }
  .pointer-img {
    width: 50px;
  }
  .f_left {
    margin-top: 0rem;
  }
  .roadmap-image:after {
    height: 102%;
  }
  .shadow_img {
    width: 77%;
    top: 109px;
    right: 0;
  }
  .hero h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .hero {
    min-height: 585px;
  }
  .ethereum_img {
    width: 95px;
  }
  .mc_content {
    margin: 16px auto 0 auto;
  }
  .mc_r {
    margin-top: 25px;
  }
  .mc_r img {
    opacity: 1;
    min-width: 80%;
    max-width: 80%;
  }
  .roadmap {
    padding: 2rem 0;
  }
}

.underline {
  /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
  width: calc(100%);
  background-image: linear-gradient(
    transparent calc(100% - 10px),
    whitesmoke 10px
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
  display: block;
}
.underline1 {
  /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
  width: calc(100%);
  background-image: linear-gradient(
    transparent calc(100% - 10px),
    whitesmoke 10px
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
.underline {
  background-size: 20.3% 120%;
}
.underline1 {
  background-size: 25.5% 120%;
}

.tab {
  text-align: center;
}

.SpacerXSmall {
  height: 10px;
  width: 8px;
}
