.nft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}
.nft-h1 {
  font-size: 4rem;
  font-family: "Cambo";
}
@media screen and (max-width: 500px) {
  .nft {
    margin-top: 2rem;
  }
  .nft-h1 {
    font-size: 3rem;
  }
}
