.nft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  flex-direction: column;
  position: relative;
  gap: 2rem;
}
.nft-h1 {
  font-size: 4rem;
  font-family: "Cambo";
  margin-bottom: 3rem;
}

.video-grid {
  width: 100%;
  height: auto;
  position: relative;
}
/* .left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}
.left-arrow {
  left: 5%;
}
.right-arrow {
  right: 5%;
} */
.splide__arrow {
  background: white !important;
  width: 5em !important;
  height: 5em !important;
  opacity: 1 !important;
}
.splide__arrow svg {
  height: 2.2em !important;
  width: 1.8em !important;
}
.vid-nft {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}
.vid-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}
.vid-div h1 {
  font-size: 3rem;
  font-family: "Cambo";
  text-decoration: underline;
}
@media screen and (max-width: 554px) {
  .splide__arrow {
    width: 3em !important;
    height: 3em !important;
  }
  .splide__arrow svg {
    height: 2.2em !important;
    width: 1.5em !important;
  }
  .vid-div h1 {
    font-size: 2rem;
  }
}
