.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 6rem;
  gap: 5rem;
  padding-bottom: 3rem;
}
.team h1 {
  font-size: 4rem;
  font-family: "h1" !important;
}
.team-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-box {
  flex: 0.33;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.team-box img {
  max-width: 312px;
  max-height: 360px;
  margin-bottom: 2rem;
  border-radius: 10px;
  object-fit: contain;
}
.text-box-team h2 {
  font-size: 2.5rem;
  font-family: "Cambo";
}
.text-box-team p {
  font-size: 1.4rem;
}
.text-box-team {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.splide__pagination__page.is-active {
  background-color: black !important;
}
.splide__pagination__page {
  background-color: lightgray !important;
}
.splide__pagination {
  bottom: -1.5em !important;
}

@media screen and (max-width: 1188px) {
  .team-box h2 {
    font-size: 2rem;
  }
  .team-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 750px) {
  .team {
    gap: 3rem;
  }

  .team h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 500px) {
  .team {
    margin-top: 2rem;
  }
  .team h1 {
    font-size: 3rem;
  }
}
